.main{
    padding: 10px;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
  
}
.main>a{
    text-decoration: none;
    color: black;
}
.subBreed{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}
.subBreed>h4{
    margin: 0;
    padding: 0;
}